<h1 class="text-[var(--main-text-light)] dark:text-[var(--main-text-dark)] text-2xl">Categorias</h1>
<a href="/admin/categorias/agregar-categoria"
  class="flex w-fit mb-2 bg-[var(--main-bg-dark)] dark:bg-[var(--main-bg-light)] text-[var(--main-text-dark)] dark:text-[var(--main-text-light)] p-2 rounded-2xl cursor-pointer hover:underline"
  id="add-new-category">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus">
    <path d="M5 12h14" />
    <path d="M12 5v14" />
  </svg>
  Agregar una categoría
</a>
<div class="flex flex-col">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      id="categories_output_table">
      <thead class="text-xs text-[var(--main-text-dark-2)] uppercase bg-[var(--main-bg-dark)]">
        <tr>
          <th scope="col" class="px-2 py-3 w-1/2">Nombre</th>
          <th scope="col" class="px-2 py-3 w-1/2">Categoría Padre</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
        <tr
          class="even:bg-[var(--main-light-1)] even:dark:bg-[var(--main-dark-7)] odd:bg-[var(--main-light-2)] odd:dark:bg-[var(--main-dark-3)] border-b dark:border-[var(--main-dark-10)] cursor-pointer"
          id="{{slug}}">
          <td scope="row" class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{name}}
          </td>
          <td class="px-2 py-2">{{#if
            parent
            }}{{parent.name}}{{else}}N/A{{/if}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="flex justify-center mt-4">
  <ul class="flex space-x-2">
    {{#each pages}}
    <li>
      <a href="/admin/categorias?page={{this}}"
        class="px-3 py-1 bg-[var(--main-bg-dark)] text-[var(--main-text-dark-2)] rounded-md hover:bg-[var(--main-dark-5)]">{{this}}</a>
    </li>
    {{/each}}
  </ul>
</div>